
body {
    background-color: rgb(247, 187, 207);
}

nav {
    background-color: rgb(241, 71, 142);
}

.jumbotron {
    background-color: rgb(241, 71, 142);
}

.jumboName {
    width: 20rem;
    margin: 80px -180px;
    
}

.circleLogo {
    display: block;
    max-width: 50%;
    height: auto;
  }

  .dancerLeap {
    display: block;
    max-width: 40%;
    height: auto;
  }


.gotTights {
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
}

.firstPosition {
    font-family: 'Noto Serif TC', serif;
    font-size: 3rem;
}